html{ 
	padding:0px; 
	font-family: Helvetica, sans-serif;
}

table {   
	border-collapse:collapse;
	border-bottom:1px solid gray; 
	width: 70%;
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #000000;
	padding:10px;
	color: #FFFFFF;
}

tr {
	text-align:center;	
}
 
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 100%; background: #000000; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto; padding: 20px;}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}
#container #customer-list {width: 70%;}

.add-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	
	margin-bottom: 15px;
	background: #cccccc;
}
